---
import BasePage from '../layouts/BasePage.astro'
---

<BasePage title="Sukhvinder Singh">
  <main>
    <h1>Sukhvinder Singh</h1>
    <h2>Web3 UI developer</h2>
    <p>Things to add to this website:</p>
    <ul>
      <li>
        Buy me a coffee: connect wallet button, allow users to send me TON/ETH
        to sukhvinder.ton/eth
      </li>
      <li>
        Projects: use github api to get pinned repos and display in cool 2d/3d
        interactive infographic type thing
      </li>

      <li>Links: github, linkedin, telegram, instagram, wallet addresses</li>
    </ul>
  </main>
</BasePage>
